<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="main.js"></script>
</head>
<body>

    <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
    </div>
       
       <div class="box">
       <% for (var i = 0; i < newListItem.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newListItem[i] %> </p>
            </div>
       <% } %>
            <form class="item" action="/" method="POST">
            <input type="text" name="tod" placeholder="Add new item here">
            <button type="submit" name="button">+</button>
            </form>
        </div>

<footer>
    <p> &copy; Ifeanyichukwu Amajuoyi, 2019.</p>
</footer>
</body>
</html>